<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.IActorDao">

<select id="select" resultType="com.human.dto.ActorDto">
select * from actor where actor_id=#{actor_id} 
</select>
<select id="selectAll" resultType="com.human.dto.ActorDto">
select * from actor  
</select>
<insert id="insertActor">
insert into actor values(actor_seq.nextval,#{actor_name},#{birthday},#{height},#{weight},#{actor_url})
</insert>
<update id="update">
update actor set actor_id=#{actor_id},actor_name=#{actor_name},birthday=#{birthday},height=#{height},weight=#{weight},actor_url=#{actor_url} where actor_id=#{actor_id}
</update>

<delete id="delete">
delete actor where actor_id=#{actor_id}
</delete>

</mapper>









