<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.ICharacterDao">

<select id="selectAll" resultType="com.human.dto.CharacterDto">
select * from character where #{musical_id}=musical_id
</select>

<insert id="insertCharacter"><!-- 아래 insert문과 같이 써야 sequence값이 같아서 동작함 -->
insert into character values(character_seq.nextval,#{musical_id},#{character_name})

</insert>

<insert id="insertActorCharacter">

insert into character values(character_seq.currval,#{actor_id})

</insert>


<!-- character 관리 -->
<select id="character_read" resultType="com.human.dto.CharacterDto" >	
SELECT c.*,a.actor_name,a.actor_id FROM character c join actor_character ac on c.character_id=ac.character_id
join actor a on a.actor_id=ac.actor_id
WHERE c.musical_id=#{musical_id}
ORDER BY c.character_id DESC
OFFSET (#{vo.page} - 1) * #{vo.perPageNum} ROWS
FETCH NEXT #{vo.perPageNum} ROWS ONLY
</select>

<select id="character_listSearchCount" resultType="int">
<![CDATA[ select count(character_id) from character where musical_id = #{musical_id} ]]>
<![CDATA[ and character_id > 0 ]]>
</select>	
	
<update id="character_update"> update character set character_name=#{character_name}
		where character_id = #{character_id}
</update>
	
<delete id="character_delete"> delete from character where character_id = #{character_id} </delete>
<delete id="character_Alldelete"> delete from character where musical_id = #{musical_id} </delete>
<insert id="character_create">
    INSERT INTO character (character_id, musical_id, character_name)
    values (character_seq.nextval,#{musical_id},#{character_name})
        
</insert>



<select id="character_id" resultType="int" >
select c.character_id from character c where c.musical_id = #{musical_id} and 
 c.character_name=#{character_name}
</select>

<select id="character_actor" resultType="com.human.dto.CharacterDto" >	
SELECT c.*,musical_title,ac.actor_id
FROM character c, musical m, actor_character ac
WHERE ac.actor_id=#{actor_id} and c.musical_id=m.musical_id 
and ac.character_id=c.character_id
ORDER BY c.character_id DESC
OFFSET (#{vo.page} - 1) * #{vo.perPageNum} ROWS
FETCH NEXT #{vo.perPageNum} ROWS ONLY
</select>

<select id="character_actor_listSearchCount" resultType="int">
<![CDATA[ select count(c.character_id) from character c, actor_character ac where ac.actor_id=#{actor_id} ]]>
and ac.character_id=c.character_id 
<![CDATA[ and c.character_id > 0 ]]>
</select>	

<select id="character_read_delete" resultType="com.human.dto.CharacterDto" >	
SELECT *
FROM character 
WHERE character_id=#{character_id}
</select>

</mapper>









