<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.IMusicalScheduleDao">


<select id="select_Musical_sch" resultType="com.human.dto.MusicalScheduleDto">
select * from musical_schedule where mu_sch_date=#{param1} and venue_id=#{param2} and musical_id=#{param3}
</select>

<select id="select_mu_sch_id" resultType="com.human.dto.MusicalScheduleDto">
select * from musical_schedule where mu_sch_id = #{param1}
</select>


<update id="mu_sch_seat_update">
update musical_schedule set seat_count =#{param1} where mu_sch_id= #{param2}
</update>

<select id="mu_sch_info" resultType="com.human.dto.MusicalScheduleDto">
select * from musical_schedule where mu_sch_id=#{param1} 
</select>



<insert id="insert_mu_sch">  
  INSERT INTO musical_schedule (
  		mu_sch_id,
        musical_id,
        venue_id,
        mu_sch_date,
        mu_sch_time,
        hall_id,
        seat_count
    ) VALUES (
        #{mu_sch_id },
        #{musical_id },
        #{venue_id },
        #{mu_sch_date},
        #{mu_sch_time},
        #{hall_id },
        #{seat_count}
    )
</insert>


    <update id="mu_sch_update">
        UPDATE musical_schedule
        SET 
            musical_id = #{musical_id},
            venue_id = #{venue_id},
            mu_sch_date = #{mu_sch_date},
            mu_sch_time = #{mu_sch_time},
            hall_id = #{hall_id},
            seat_count = #{seat_count}
        WHERE mu_sch_id = #{mu_sch_id}
    </update>

<!-- admin 조인 삭제 관련 -->


<delete id="musical_schedule_Alldelete"> delete from musical_schedule where musical_id = #{musical_id} </delete>

<delete id="musical_schedule_venuedelete"> delete from musical_schedule where venue_id = #{venue_id} </delete>
<delete id="musical_schedule_halldelete"> delete from musical_schedule where hall_id = #{hall_id} </delete>
</mapper>







