<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.IQaDao">
<!-- qa글쓰기 -->
<insert id="create">
 	insert into qa(qa_id,customer_id,qa_type,title,content)
	values (qa_count.nextval,#{customer_id},#{qa_type},#{title},#{content})
</insert>

<!-- 회원 탈퇴시 삭제용 -->
<delete id="deleteAll">
delete qa where customer_id = #{customer_id}
</delete>
<!-- qa 관리 -->
<sql id='qa_search'>
    <if test="keyword!=null">
            and (
                qa_id LIKE '%' || #{keyword} || '%'
                or content LIKE '%' || #{keyword} || '%'
                or title LIKE '%' || #{keyword} || '%'
                )
                        
    </if>
	</sql>
		<sql id='qa_category'>
    <if test="fGroupKind!=null">
    <if test="fGroupKind!='전체'">
    <if test="fGroupKind!=''">
            and qa_type = #{fGroupKind}
    </if>
    </if>
    </if>
	</sql>
	
	<sql id='qa_display'>
    <if test="nGroupKind!=null">
    <if test="nGroupKind!='전체'">
    <if test="nGroupKind!=''">
     <if test="nGroupKind=='res_wait'">
            and display = 0
            </if>
            <if test="nGroupKind=='res_comp'">
            and display = 1
            </if>
    </if>
    </if>
    </if>
	</sql>
	
	<select id="qa_listSearch" resultType="com.human.dto.QaDto" >
	<![CDATA[SELECT *
FROM qa
WHERE 1=1]]>
<include refid="qa_category"/>
<include refid="qa_display"/>
<include refid="qa_search"/>
<![CDATA[ORDER BY qa_id DESC
OFFSET (#{page} - 1) * #{perPageNum} ROWS
FETCH NEXT #{perPageNum} ROWS ONLY]]>
</select>

	
<select id="qa_list" resultType="com.human.dto.QaDto" >
	<![CDATA[SELECT *
FROM qa
WHERE customer_id=#{customer_id}]]>
<![CDATA[ORDER BY qa_id DESC
OFFSET (#{vo.page} - 1) * #{vo.perPageNum} ROWS
FETCH NEXT #{vo.perPageNum} ROWS ONLY]]>
</select>

	<select id="qa_listSearchCount" resultType="int">
<![CDATA[ select count(qa_id) from qa where 1=1 ]]>
		<include refid="qa_search" />
		<include refid="qa_category"/>
<![CDATA[ and qa_id > 0 ]]>
	</select>
	
	<select id="qa_listCount" resultType="int">
<![CDATA[ select count(qa_id) from qa where 1=1 ]]>
<![CDATA[ and qa_id > 0 and customer_id=#{customer_id} ]]>
	</select>
	
	<update id="res_update"> update qa set response=#{response, jdbcType=VARCHAR},display=#{display}
		 where qa_id = #{qa_id}
	</update>





	

<!-- qna -->
<insert id="insertQna">
insert into qa(qa_id,customer_id,musical_id,title,content,qa_date,display)
values(qa_count.nextval,#{customer_id},#{musical_id},#{title},#{content},sysdate,#{display})
</insert>

<select id="selectAllQna" resultType="QaDto">
select qa_id,customer_id,musical_id,title,content,qa_date,response,display from qa
where musical_id=#{musical_id} order by qa_id desc
OFFSET (#{vo.page}-1) * #{vo.perPageNum} ROWS
FETCH NEXT #{vo.perPageNum} ROWS ONLY
</select>

<select id="selectMyQna" resultType="QaDto">
select q.qa_id,q.customer_id,q.musical_id,q.title,q.content,q.qa_date,q.response,q.display,
m.musical_title from qa q join musical m on q.musical_id=m.musical_id
 where customer_id=#{customer_id} order by qa_id desc
OFFSET (#{vo.page}-1) * #{vo.perPageNum} ROWS
FETCH NEXT #{vo.perPageNum} ROWS ONLY
</select>

<select id="totalCount" resultType="Integer">
select count(*) from qa where musical_id=#{musical_id}
</select>
<select id="myTotalCount" resultType="Integer">
select count(*) from qa where customer_id=#{customer_id} and qa_type is null
</select>

<update id="adResponse">
update qa set response=#{response} where qa_id=#{qa_id}
</update>

<update id="updateQna">
update qa set qa_id=#{qa_id},customer_id=#{customer_id},
musical_id=#{musical_id},title=#{title},content=#{content},qa_date=#{qa_date},
display=#{display} where qa_id=#{qa_id}
</update>

<delete id="deleteQna">
delete qa where qa_id=#{qa_id}
</delete>
<delete id="all_delete">
delete qa where customer_id=#{customer_id} and qa_type is null
</delete>
</mapper>
