<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.ISeatDao">

<select id = "selectSeatInfo" resultType = "com.human.dto.SeatDto">
	select distinct seat_price, seat_grade
	from seat 
	where hall_id = (
					select distinct hall_id 
					from musical_schedule 
					where musical_id = #{musical_id}
	)
</select>

</mapper>








