
#container {
	display:flex;
	flex-direction: column; 
	width: 70%;
    margin: 0 auto;
    padding: 10%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap : 50px;
    white-space: nowrap;
    overflow: auto; 
    text-overflow: ellipsis; 
}
@media(max-width : 1650px){
	#container{
		width : 100%;
	}
		
}

 #actor {
    display: flex;
    flex-wrap: wrap;
    gap : 15px;
    align-items: center;
    justify-content:center;
}
.actor-row {
    display: flex;
    flex-wrap: wrap;
    text-align : center;
    justify-content:center;
    vertical-align:middle;
    width: 100%;
    margin-top : 35px;
}
.actor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 0.5rem;
    width: 150px;
}
        
    /* 뮤지컬 상세보기 전체 (포스터, 상세정보) */
	.info{
		display:flex;
		width : 100%;
		gap : 5%;
	}
	
	/* 목록, 예매하기 버튼 */
	.button-container{
		position: relative;
		flex:1;
	}
	
	/* 뮤지컬 목록 버튼 */
	.list{
		display : inline-block;
		position: absolute;
		top : 0;
		right : 0;
	}
	
	/* 예매하기 버튼 */
	.reservation{
		display:inline-block;
		position: absolute;
		top : 90%;
		right : 0;
	}
	
	/* 뮤지컬 포스터 */
	.img-fluid{
		width : 300px;
		max-width : 300px !important;
		border-radius : 16px;
	}
	
	/* 뮤지컬 상세정보 */
	.musiscal-detail{
		display : flex;
		flex-direction: column;
		gap : 30px;
	}
	
	.musical-detail-info{
		position:relative;
		line-height: 2em;
	}

	li{
		margin-top: 10px;
	}
	
	#venue{
		display : flex;
		flex-direction: column;
		gap : 30px;
	}
	/* 좌석 등급별 가격 테이블 */
	.seat-table{
		min-width:250px;
	}
	
	.seat-price{
		text-align : right;
	}
	
	/* tab */
	.card-body{
		max-height : 800px;
		overflow: auto;
		
	}
	
	/* 공연 스케쥴 */
	.schedule-grid{
		display : grid;
		grid-template-columns: repeat(2, 1fr);
		
	}
	
	.schedule-grid table{
		min-height : 150px;
		border-collapse: collapse;
		margin-right:20px;
		border: 0.5px  solid lightgrey;
		text-align : center; 
	}
	
	.schedule-grid th{
		width : 175px;
		vertical-align: middle;
		
	}
	
	.schedule-grid td{
		padding : 20px;
		height : 100%;
		
	}
	
	.schedule-grid tr{
		vertical-align: middle;
		border-top:0.5px solid lightgrey;
		border-bottom:0.5px solid lightgrey;
		border-collapse: collapse;
	}
	
	.schedule-grid td div {
		width : 100px;
    	margin:20px auto;
    	text-align : center; 
    	border-bottom : 0.5px solid #ddd;
	}
	
	#openModalLink, .nav-link{
		text-decoration: none;
		color: #000;  
	}
	
	#openModalLink:hover, .nav-link:hover{
		text-decoration: none;
		color: #000;
	}
	
	.modal-dialog.custom-modal{
		max-width : 550px;
	}