body {
    
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#container {
	font-family: "Noto Sans KR", sans-serif;
	display:flex;
	flex-direction: column; 
	justify-content:center;
	align-items:center;
    width: 90%;
    margin: 0 auto;
    padding: 200px 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap : 50px;
    max-width : 1600px;
}

/* 정렬 스타일 */
.sort-container {
    display: flex;
    justify-content: right; /* 가운데 정렬 */
}

select{
	display : inline-block;
	
}


/* 필터 버튼 및 패널 */
.filter-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.filter-panel {
    display: none;
    padding: 10px;
}


.filter-panel select, .filter-panel input[type="date"] {
	width : auto;
	height : 33px;
	line-height: 16px;
	font-size : 14px;
	vertical-align : middle;
	border:0.5px solid lightgrey;
}

.filter-panel.show {
    display: flex; /* 표시 상태 */
    flex-direction:row;
    align-items:center;
    justify-content:center;
    max-height: 500px; /* 최대 높이 설정 */
    gap : 20px; 
}



/* 뮤지컬 목록 */
.list-title{
	display : inline-block;
	width : 100%;
	vertical-align : middle;
	text-align:center;	
}

.list-title div{
	margin-right:5%;
}

.card.musical-item {
	
  width:280px;
  border-radius: 16px;
  transition: transform 0.3s ease;
   
  overflow: hidden;    /* 카드 안의 요소들이 경계 밖으로 나가지 않도록 함 */
}

.card.musical-item:hover {
    transform: scale(1.05);
}


.musical-item a, .musical-item a:hover {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.card-img-top{
	height : 400px;
}


.hidden{
	display:none;
}

/* 그리드 레이아웃 */
.musical-grid {
  	display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 20px;
}

@media (max-width: 1600px) {
	.musical-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 1350px) {
	.musical-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1024px) {
	.musical-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.musical-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}



.swiper {
	display:flex;
	flex-direction:column;
    width: 90%;
    height: 500px; /* 높이 조정 */
}

/* Swiper 슬라이드 스타일 */
.swiper-slide {
    background-color: transparent; /* 슬라이드 배경 색상 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    padding: 50px 30px;     
   
}



.swiper-slide-active {
   padding : 33px 0;
    
}

/* 기본 버튼 스타일 */


.swiper-button-next{
	right : 0px !important;
	
}
.swiper-button-prev{
	left : 0px !important;
	
}
.swiper-button-next, .swiper-button-prev {
	width : 40px !important;
   	height : 40px !important;
    transition: background-color 0.3s, transform 0.3s; /* 부드러운 전환 효과 */
    z-index: 10; /* 다른 요소 위에 위치 */
    border : 0.5px solid #ddd;
    border-radius : 50%;
    background-color: #fff;
}

/* 버튼 아이콘 스타일 (화살표) */
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 10px !important;
    font-weight:bolder;
    color:#000;
}


/* 버튼 호버 상태 스타일 */
.swiper-button-next:hover, .swiper-button-prev:hover {
	background-color : #ddd;
}

/* 버튼 클릭 시 스타일 */
.swiper-button-next:active, .swiper-button-prev:active {
    background-color: rgba(68, 68, 68, 0.9); /* 클릭 시 배경색을 더 불투명하게 설정 */
}


 .link-container {
    display: flex; 
    width : 100%;
	height : 100%;
    color: inherit;  
}

.link-container:hover{
    color: inherit;       
    text-decoration: none;
}

.musical-img-item{
	display : flex;
	flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: flex-end;
	width : 100%;
	height : 100%;
	color : white;
	font-weight:bolder;
	padding-left:10px;
	font-size : 14px;
}

.img-like{
	margin-right:30px;
	margin-left: auto;
	margin-top:15px;
	margin-bottom : auto;
}

.musical-img-item p, .musical-img-item strong{
	position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.page-date, .page-like{
	bottom:-50px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color : #000;
}

/* 검색 박스 */
#search {
    margin: 20px 0;
    text-align: center;
}

.l-grey{
	color : lightgrey;
}

.d-grey{
	color : darkgrey;
	
}

.lp{
	color : lightpink;
	
}

#search-container{
	display : flex;
	justify-content: center;
	gap : 10px;
	
}

#search-container input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}


.scroll-controls {
    position: fixed;
    bottom: 20px; /* 페이지 하단에서 20px 위 */
    right: 20px; /* 페이지 우측에서 20px 떨어져 위치 */
    display: flex;
    flex-direction: column;
    gap: 10px; /* 버튼 사이의 간격 */
    z-index: 1000; /* 버튼이 다른 요소 위에 위치하도록 설정 */
}

.scroll-controls button {
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색 */
    border: none;
    border-radius: 50%; /* 둥근 모서리 */
    width: 40px; /* 버튼 너비 */
    height: 40px; /* 버튼 높이 */
    font-size: 20px; /* 버튼 텍스트 크기 */
    cursor: pointer; /* 마우스 커서 손 모양 */
    outline: none; /* 포커스 시 테두리 제거 */
    transition: background-color 0.3s ease;
    text-align: center;
    vertical-align: middle;
}

.scroll-controls button:hover {
    background-color: #0056b3; /* 버튼에 마우스 오버 시 색상 변경 */
}