* {
	margin: 0;
	padding: 0;
}

a {
	
  text-decoration: none;
  color: inherit;
}

#wrap {
	margin-top: 100px;
}

#keywordInput {
	width: 350px;
    height: 28px;
    padding: 0 7px;
    border: 1px solid #e8eaf1;
    background: #fff;
}
.search_faq, .search_id{
	margin: 10px auto;
}

.submitDeleteBtn{
    width: 50px;
    padding: 2px;
    font-size: 13px;
    background: #ff8040;
    border: 1px solid #242428;
    color: #fff;
}

.readBtn, .characterBtn, .viewBtn{
    width: 50px;
    padding: 2px;
    font-size: 13px;
    background: #0080ff;
    border: 1px solid #242428;
    color: #fff;
}
 
.modifyBtn, .hall_modifyBtn{
    width: 50px;
    padding: 2px;
    font-size: 13px;
    background: #004000;
    border: 1px solid #242428;
    color: #fff;
}

.excelBtn{
    width: 100px;
    padding: 2px;
    font-size: 13px;
    background: #8000ff;
    border: 1px solid #242428;
    color: #fff;
}

.deleteBtn, .hall_deleteBtn{
    width: 50px;
    padding: 2px;
    font-size: 13px;
    background: #ff0000;
    border: 1px solid #242428;
    color: #fff;
}

.search_faq select ,.search_id select, .select select{
	width: 120px;
    height: 28px;
    padding: 0 7px;
    border: 1px solid #e8eaf1;
    background: #fff;
}

#searchBtn,.newBtn, #submit, .hall_newBtn, .addBtn, .res_modify, .res_remove, .res_register {
	margin-left: 1px;
    width: 80px;
    padding: 4px 11px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    background: #242428;
    border: 1px solid #242428;
    color: #fff;
}

.list_board_sort{
	display: table;
    table-layout: fixed;
    width: 100%;
    list-style: none;
    font-size: 14px;
    color: #62676c;
    margin-top: 20px;
}

.list_board_sort li{
	display: table-cell;
    position: relative;
    border-top: 1px solid #ecedf2;
    border-bottom: 1px solid #ecedf2;
    box-sizing: border-box;
    border: 0;
    vertical-align: top;
    border: 1px solid #ccc;
}

.list_board_sort li a {
    display: block;
    width: 100%;
    padding: 16px 0;
    background: none;
    font-size: 14px;
    color: #242428;
    line-height: 1em !important;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 500;
}
.list_board_sort li#on {
border-top: 1px solid #242428;
    border-bottom: 1px solid #242428;
}

.list_board_sort li#on a {
    background: #242428;
    color: #fff;
}

#content{
	width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}
.board_qna {
	clear: both;
	position: relative;
	padding-top: 15px;
	width: 860px;
	margin:0 auto;
}

.board_qna h1{
	margin-bottom: 20px;
}
.board_qna .tb_board {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #a4a9b0;
	border-bottom: 1px solid #ececec;
}

.tb_board thead th {
	padding: 13px 0;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #222;
	background: #f8f9fa;
}

#qnaList-wrapper{
	margin-top: 20px;
}


#res_state {
    border: none; /* Remove border */
    outline: none; /* Remove focus outline */
    text-align: center;
	font-size: 14px;color: #222;
	background: #f8f9fa;
	font-weight: bold;
}



.tb_board .admin_table td{
	padding: 16px 0 16px 0px;
	border: 1px solid #ececec;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	color: #5e636d;
}         

.tb_board .admin_table td:first-child {
    border-left: none;
}

.tb_board .admin_table td:last-child  {
    border-right: none;
}

.tb_board td{
	padding: 16px 0 16px 12px;
	border-top: 1px solid #ececec;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	color: #5e636d;
} 

.tb_board.tb_qna tr.item td:first-child {
	text-align: center;
	padding-left: 0;
}

.hide {
	display: none;
}

.show {
	display: table-row;
}

.item td {
	cursor: pointer;
	box-sizing: border-box;
}


.tb_board .show .q-cus {
	position: relative;
	padding: 0 14px 0 24px;
}

.tb_board .show .a-sel {
	position: relative;
	padding: 0 14px 0 24px;
	margin-top: 24px;
}

.tb_board.tb_qna tr.show td {
	padding: 16px;
	text-align: left;
	background: #fafafa;
	color: #5e636d;
	font-size: 14px;
	line-height: 22px;
	border-top: none;
}

.tb_board .reginfo {
	padding-left: 24px;
	padding-top: 4px;
	color: #15c068;
	font-size: 0;
	line-height: 0;
}

.tb_board .reginfo span {
	font-size: 14px;
	line-height: 22px;
}

.board_qna .date {
	padding-left: 7px;
	margin-left: 7px;
	background-position: -999px -147px;
}

.qna_head {
	margin-bottom: 20px;
}

.pagination {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 14px;
}

.pagination a.active {
	background-color: #000000;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active ) {
	background-color: #ddd;
	border-radius: 5px;
}
.review_control{
   	float: right;
}
.item_img{
	overflow: hidden;
}
.item_img img{
	width:100%;
	height: 100%;
}


#light p{
	margin-top: 20px;
}
#light{
	text-align: center;
}
.light_btn{
	display: inline-block;
	width: 50px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	
}
.pagination li {
    display: inline-block;
	margin-top: 10px;
}